
/** ---------------------------------------------------------------------- */
/* @autor: Ola Gasidlo (o.gasidlo@gmail.com)
/* ----------------------------------------------------------------------- */

html, body {
    height: 100%;
    background-color: #ebebeb;
}

body, h1, menu{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', arial,  serif;
    overflow: hidden;
  
}

#wrap {
    min-height: 100%;
    height:auto !important;
    height:100%;
    overflow: hidden !important;
    position: absolute;
    width: 100%;

}

.hide{
    display:none;
}

/* -------------------------- LAYOUT / Structure -------------------------- */

header {
    width: 100%;
    margin:0;
    font-weight: 700;
    font-size: 42px;
    color: #fff !important; 
    background: #6b12ac url(../img/bg.png) fixed repeat-y;
    padding-bottom: 10px;
    height: 80px;
}

menu {
    bottom: 0;
    width:100%;
    background-color: #dbdbdb;
    height: 60px;
    position: fixed;
}
button {
    width: 32%;
    border: 0   solid #ebebeb;
    height: 60px;
    background: transparent url(../img/btn_t.png) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}
    #new {
        background-position: center 50%;
    }

    #remove {
        background-position: center bottom;
    }

    #clear {
        background-position: center top;
    }
     #send {
        background-image:none;
        letter-spacing: 1px;
        height:28px;
        width: 17%;
        text-indent: 0;
        color: #7b7b7b;
        background-color: #dbdbdb;
        float: right;
     }
     input{
        width: 77%;
        height:26px;
        border: 1px solid #ebebeb;
        margin-left: 4px;
        padding:0 4px;
        color: #cbcbcb !important;
        float: left;
     }

#list {
    font-size: 110%;
    font-weight: 300;
    margin:0;
    padding:0;
    background-color: #ebebeb;
}

    #list ul{
        list-style: none;
        margin:0;
        padding:0;
        color: #7b7b7b;
        overflow-y: scroll;
    }

        #list ul li{
            border-bottom: 1px solid #fff;
            padding: 12px 25px;

        }

            #list ul li.done{
                text-decoration: line-through;
                opacity: 0.5;
            }

h1{
    font-size: 90%
}

form > *{
    font-size: 40%
}

.clear{
    clear: both;
}

/* -------------------------- COLOR / Themes -------------------------- */

@media (max-height: 480px) {
    #list {
       height:421px;
    }
    #list ul{
        height:259px;
    }
}

@media (min-height: 481px) and (max-height: 640px) {
    #list {
        height:511px;
    }
    #list ul{
        height:418px;
    }
}

@media (min-height: 641px) {
    #list {
        min-height: 641px;
        max-height: 750px;;
    }
    #list ul{
        height: 650px;
    }
}